@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 300;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format('opentype');
}

* {
	box-sizing: border-box;
  font-family: 'Noto Sans Japanese', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #555555;
}

#screen-switch * {
  user-select: none;
}

.start-button.enabled:hover {
  background-color: #F57C00 !important;
}

.up-arrow-animation {
  animation: up-arrow-animation infinite 0.4s;
}

.down-arrow-animation {
  animation: down-arrow-animation infinite 0.4s;
}

.left-arrow-animation {
  animation: left-arrow-animation infinite 0.4s;
}

.right-arrow-animation {
	animation: right-arrow-animation infinite 0.4s;
}

@keyframes up-arrow-animation {
    0% {margin-bottom: 0;}
   50% {margin-bottom: 8px;}
  100% {margin-bottom: 0;}
}

@keyframes down-arrow-animation {
    0% {margin-top: 0;}
   50% {margin-top: 8px;}
  100% {margin-top: 0;}
}

@keyframes left-arrow-animation {
    0% {margin-right: 0;}
   50% {margin-right: 8px;}
  100% {margin-right: 0;}
}

@keyframes right-arrow-animation {
    0% {margin-left: 0;}
   50% {margin-left: 8px;}
  100% {margin-left: 0;}
}

/* the style of ItemFrames must be handled by css because it requires pseudo class */
.empty-item-frame {
  background-color: #555555;
  border: 2px solid transparent;
}

.unselected-item-frame {
  background-color: white;
  border: 2px solid transparent;
}

.unselected-item-frame:hover {
  border: 2px solid gray;
}

.selected-item-frame {
  background-color: lightgray;
  border: 2px solid white;
}

.button:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/* save effect */
#save-effect.animation {
  animation: .5s save-animation ease;
}

@keyframes save-animation {
  from {
    background-color: rgba(255, 255, 255, 0.8);
  }
  to {
    background-color: transparent;
  }
}